<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{issue?.issue_desc}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!--<ion-list>
    <ion-item *ngFor="let key of keys">
      {{key}}. {{issue[key]}}
    </ion-item>
  </ion-list>-->

    <ion-grid *ngIf="issue">
        <ion-row>
            <ion-col col-4>Category</ion-col>
            <ion-col col-8>{{_sharedService.categorySearch(issue.domain, domains)?.title}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>Description</ion-col>
            <ion-col col-8>{{issue?.issue_desc}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>Location</ion-col>
            <ion-col col-8>{{issue?.location}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>Problem</ion-col>
            <ion-col col-8>{{issue?.problem}}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4>Status</ion-col>
            <ion-col col-8>{{_sharedService.categorySearch(issue.status, status)?.title}}</ion-col>
        </ion-row>
        <ion-row *ngIf="role === 'stf' ">
            <ion-col col-4>Raised By</ion-col>
            <ion-col col-8>{{issue?.raised_by}}</ion-col>
        </ion-row>
        <ion-row *ngIf="role === 'stf'">
            <ion-col col-4>Mobile</ion-col>
            <ion-col col-8>{{issue?.mobile}}</ion-col>
        </ion-row>
        <ion-row *ngIf="role === 'stf'">
            <ion-col col-4>Created on</ion-col>
            <ion-col col-8>{{issue?.insert_dt}}</ion-col>
        </ion-row>

        <ion-row *ngFor="let image of images">
            <ion-col col-12>
                <img src="{{image}}" />
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col col-2>
            </ion-col>
            <ion-col col-4 *ngIf="issue">
                <button *ngIf="issue.status == 'user_deleted' ||  issue.status == 'user_resolved' || issue.status == 'verified_resolved'"
                    ion-button clear color="light"> </button>
                <button *ngIf="issue.status == 'pending' ||  issue.status == 'assigned' || issue.status == 'onhold'  ||  issue.status == 'resolution_in_progress' || issue.status == 'closed'"
                    ion-button clear color="light" (click)="edit()">
                 <ion-chip #chip1>
                <ion-icon name="logo-buffer" color="primary"></ion-icon>
                <ion-label>Edit</ion-label>
                 </ion-chip>
                </button>
            </ion-col>
            <ion-col col-4 *ngIf="issue && issue.status != 'user_deleted' &&  issue.status != 'user_resolved'  &&  issue.status != 'verified_resolved' && issue.status != 'onhold'">
                <button *ngIf="issue && issue.reg_no == _sharedService.reg_no" ion-button clear color="light" (click)="presentActionSheet()">              
          <ion-chip #chip2>
              <ion-icon name="trash" color="danger"></ion-icon>
              <ion-label>Delete</ion-label>
          </ion-chip>
          </button>
            </ion-col>
            <ion-col col-2>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>