<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title >ghf</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="taskeditForm">
        <ion-list>
            <ion-item>
                <ion-label stacked>Priority</ion-label>
                <ion-select formControlName="priority">
                    <ion-option value="high">High</ion-option>
                    <ion-option value="medium">Medium</ion-option>
                    <ion-option value="low">Low</ion-option>
                </ion-select>
            </ion-item>
             <ion-item>
                <ion-label stacked>Status</ion-label>
                <ion-select formControlName="status" (ionChange)="selStataus($event)">
                    <ion-option *ngFor="let s of status" value="{{s.value}}">{{s.title}}</ion-option>
                </ion-select>
            </ion-item>

            <!-- <ion-item >
                <ion-label stacked>Repaired On</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD HH:mm" pickerFormat="MMMM DD, YYYY HH:mm" formControlName="repaired_on"></ion-datetime>
            </ion-item> -->
            <ion-item *ngIf="showdays == 'assigned'">
                <ion-label stacked>Assigned To</ion-label>
                <ion-select formControlName="repaired_by" (ionChange)="selectItems($event)">
                    <ion-option *ngFor="let item of items" value="{{item.id}}">{{item.itemName}}</ion-option>
                </ion-select>
            </ion-item>
            <!-- <ion-item >
                <ion-label stacked>Date of Resolution</ion-label>
                <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="MMMM DD, YYYY" formControlName="date_of_resolution"></ion-datetime>
            </ion-item> -->
            <ion-item >
                <ion-label stacked>Notes</ion-label>
                <ion-input formControlName="notes" type="text"></ion-input>
            </ion-item> 

        </ion-list>
        <!-- <button *ngIf="!did" type="submit" (click)="save()" ion-button block>Submit Issue</button> -->
        <button type="submit" (click)="insertData()" ion-button block>Update Issue</button>
    </form>


    <!--<img src="{{pathForImage(lastImage)}}" style="width: 100%">-->
</ion-content>