<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle><ion-icon name="md-menu"></ion-icon></button>
      <ion-title>Issues List</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary1">
      <ion-title>Cannot be Resolved</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  
      <ion-toolbar  color="orange">
          <ion-badge style="float:right; margin-right:4px; font-size: 16px;">{{issueCount}}</ion-badge>
          <ion-title>Raised by me </ion-title>
      </ion-toolbar>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  

    <ion-list *ngIf="issuesListlength  == 0 ">
      <p style="font-size:18px;margin-left:18px">no data</p>
  </ion-list>
  
    <ion-item-group *ngFor="let category of categories">
      <ion-item-divider (click)="collapseCategory(category)" color="light">{{category | uppercase}}
        <ion-badge item-right>{{issuesList[category].length}}</ion-badge>
      </ion-item-divider>
      <ion-item *ngIf="collapse == category">
        <button ion-item *ngFor="let issue of issuesList[category]; let i =index" (click)="issueSelected(issue)">{{i+1}}. {{issue.issue_desc}}</button>
      </ion-item>
    </ion-item-group>
    
   
  <ion-toolbar *ngIf="issuesListlength1 > 0  && role == 'stf'" color="orange">
      <ion-badge style="float:right; margin-right:4px; font-size: 16px;">{{issueCount1}}</ion-badge>
    <ion-title>Pending for action</ion-title>
  </ion-toolbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-list *ngIf="issuesListlength1 == 0  && role == 'stf'">
      <p style="font-size:18px;margin-left:18px">no data</p>
  </ion-list> -->
  
  <ion-item-group *ngFor="let category1 of categories1; let i=index">
    <ion-item-divider (click)="collapseCategory1(category1)" color="light"> {{category1 | uppercase}}
        <ion-badge item-right>{{issuesList1[category1].length}}</ion-badge>
    </ion-item-divider>
    <ion-item *ngIf="collapse1 == category1">
        <button ion-item *ngFor="let issue1 of issuesList1[category1];let i=index" (click)="issueSelected1(issue1)"> {{i+1}}. {{issue1.issue_desc}}</button>
    </ion-item>
  </ion-item-group>
  
  <ion-toolbar *ngIf="issuesListlength2  > 0 " color="orange">
    <ion-badge style="float:right; margin-right:4px; font-size: 16px;">{{issueCount3}}</ion-badge>
    <ion-title> Assigned to me </ion-title>
</ion-toolbar>
<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<!-- <ion-list *ngIf="issuesListlength2  == 0 ">
  <p style="font-size:18px;margin-left:18px">no data</p>
</ion-list> -->

<ion-item-group *ngFor="let category2 of categories2; let i=index">
    <ion-item-divider (click)="collapseCategory2(category2)" color="light"> {{category2 | uppercase}}
        <ion-badge item-right>{{issuesList2[category2].length}}</ion-badge>
    </ion-item-divider>
    <ion-item *ngIf="collapse2 == category2">
        <button ion-item *ngFor="let issue2 of issuesList2[category2];let i=index" (click)="issueSelected2(issue2)"> {{i+1}}. {{issue2.issue_desc}}</button>
    </ion-item>
</ion-item-group>
  
  </ion-content>
  