<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="md-menu"></ion-icon>
        </button>
        <ion-title>Issues List</ion-title>
    </ion-navbar>
    <ion-toolbar color="secondary">
        <ion-title>Pending Issues</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #content>

    <ion-toolbar color="orange">

        <ion-badge item-right>{{issueCount}}</ion-badge>
        <ion-title>Issues raised by me </ion-title>
    </ion-toolbar>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-list *ngIf="issuesListlength  == 0 ">
        <p style="font-size:18px">no data</p>
    </ion-list>

    <ion-item-group *ngFor="let category of categories; let i=index">
        <ion-item-divider (click)="collapseCategory(category)" color="light"> {{category | uppercase}}
            <ion-badge item-right>{{issuesList[category].length}}</ion-badge>
        </ion-item-divider>
        <ion-item *ngIf="collapse == category">
            <button ion-item *ngFor="let issue of issuesList[category];let i=index" (click)="issueSelected(issue)"> {{i+1}}. {{issue.issue_desc}}</button>
        </ion-item>
    </ion-item-group>



    <ion-toolbar color="purple">
        <ion-badge item-right>{{issueCount1}}</ion-badge>
        <ion-title>View/Update Issue </ion-title>
    </ion-toolbar>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item-group *ngFor="let category1 of categories1; let i=index">
        <ion-item-divider (click)="collapseCategory1(category1)" color="light"> {{category1 | uppercase}}
            <ion-badge item-right>{{issuesList1[category1].length}}</ion-badge>
        </ion-item-divider>
        <ion-item *ngIf="collapse1 == category1">
            <button ion-item *ngFor="let issue1 of issuesList1[category1];let i=index" (click)="issueSelected1(issue1)"> {{i+1}}. {{issue1.issue_desc}}</button>
        </ion-item>
    </ion-item-group>

    <ion-toolbar color="purple">
        <ion-badge item-right>{{issueCount3}}</ion-badge>
        <ion-title>Resolution progress </ion-title>
    </ion-toolbar>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-item-group *ngFor="let category2 of categories2; let i=index">
        <ion-item-divider (click)="collapseCategory2(category2)" color="light"> {{category2 | uppercase}}
            <ion-badge item-right>{{issuesList2[category2].length}}</ion-badge>
        </ion-item-divider>
        <ion-item *ngIf="collapse2 == category2">
            <button ion-item *ngFor="let issue2 of issuesList2[category2];let i=index" (click)="issueSelected2(issue2)"> {{i+1}}. {{issue2.issue_desc}}</button>
        </ion-item>
    </ion-item-group>

</ion-content>